.indBanner{
    height: 470px;
    overflow: hidden;
    position: relative;
}

.indBanner ul{
    width: 30000px;
    height: 470px;
}

.indBanner li{
    width: 1206px;
    height: 470px;
    position: relative;
    float: left;
    
}

.indBanner li img{
    height: 470px;
    width: 1206px;
    /* display: none; */
}
.indBanner li a{
    display: block;
    position: absolute;
    height: 470px;
    width: 974px;
    top: 0;
    right: 0;
    /* background-color:rgba(0, 0, 0, 0.3); */
}

.indBanner .btn{
    position: absolute;
    top: 215px;
    width: 40px;
    height: 70px;
    background-image: url(/img/banner/icon-slides.png);
}

.indBanner .prev{
    background-position: -83px 0;
    left: 232px;
}

.indBanner .next{
    background-position: top right;
    right: 0;
}

.indBanner .prev:hover{
    background-position: 0px 0px;    
}
.indBanner .next:hover{
    background-position: -42px 0;
}

.indBanner .page{
    position: absolute;
    bottom: 30px;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 10px;
    text-align: right;
    padding-right: 35px;
}

.indBanner .page a{
    display: inline-block;
    margin: 0 5px;
    width: 6px;
    height: 6px;
    border: 2px solid #fff;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    /* background-color: #f5f5f5; */
    background-color:rgba(0, 0, 0, 0.4);

}

.indBanner .page a:hover{
    /* background-color: #fff; */
    background-color: rgba(255, 255, 255, 0.4);
    /* border-color: #757575; */
    border-color: rgba(255, 255, 255, 0.4);
}

.indBanner .page span{
    visibility:hidden;
}

/* 轮播下 */

.indBannerSub{
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    /* height: 400px; */
    
}

.indBannerSub .menu{
    width: 232px;
    height: 165px;
    background-color: #5f5750;
    float: left;
    padding: 20px 20px 15px;
}

.indBannerSub .pic{
    display: block;
    width: 304px;
    height: 165px;
    margin-left: 20px;
    float: left;
}

.indBannerSub .pic img{
    display: block;
    width: 304px;
    height: 165px;
}

.indBannerSub .menu li{
    width: 64px;
    height: 61px;
    padding-top: 5px;
    float: left;
    text-align: center;
    color: #c8c5c3;
    position: relative;
}

/* .indBannerSub .menu li:hover{
    color: #fff;
} */

.indBannerSub .menu li i{
    display: block;
    width: 24px;
    height: 24px;
    background-size: contain;
    margin-left: 18px;
    padding-top: 7px;
}

.indBannerSub .menu li .miaosha{
    background-image: url(/img/sub/miaosha.png) ;
}

.indBannerSub .menu li .tuangou{
    background-image: url(/img/sub/tuangou.png) ;
}

.indBannerSub .menu li .fma{
    background-image: url(/img/sub/fma.png) ;
}

.indBannerSub .menu li .mifen{
    background-image: url(/img/sub/mifen.png) ;
}

.indBannerSub .menu li .yijiu{
    background-image: url(/img/sub/yijiu.png) ;
}

.indBannerSub .menu li .huafei{
    background-image: url(/img/sub/huafei.png) ;
}


.indBannerSub .menu li span{
    display: block;
    font-size:12px;
    margin-top: 6px;
} 

.indBannerSub .menu li.bb:before{
    content: '';
    display: block;
    width: 61px;
    height: 1px;
    background-color: #665d56;
    position: absolute;
    left: 1px;
    bottom: 0;
}

 .indBannerSub .menu li.br:after{
    content: '';
    display: block;
    width: 1px;
    height: 61px;
    background-color: #665d56;
    position: absolute;
    right: 0;
    top: 2px;
}

