/* 公共 */
.containter{
    width: 1226px;
    margin-left: auto;
    margin-right: auto;
}

a{
    color: #b0b0b0;
}

/* 顶部 */

.publicTop{
    height: 40px;
    background-color: #333;
    line-height: 40px;
    font-size: 12px;
}

.pubTopLeft{
    width: 696.672px;
    float: left;
    line-height: 38px;
}


.pubTopRight{
    float: right;
    line-height: 38px;
}

.containter span{
    color: #424242;
}